@import url("components/header.css");
@import url("components/main.css");
@import url("components/mission.css");
@import url("components/hextech.css");
@import url("components/portfolio.css");
@import url("components/team.css");
@import url("components/footer.css");

/* html, body {
  max-width: 1200px;
  margin: auto;
} */

body {
    /* margin: 0; */
    font-family: 'Lateef', serif;
    background: url("../images/hextech-bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 768px) {
  body {
    background-size: 150%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-size: 250%;
  }
}
