body {
    margin: 0;
    font-family: 'Lateef', serif;
    background: url("images/hextech-bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER SECTION */
header {
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: inherit;
    height: 16%;
}

header h1 {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin: 0 auto;
}

header ul {
  padding-left: 0px;
  text-align: center;
  top: 50px;
  position: absolute;
  font-weight: 100;
  margin: 0;
}

header li {
    display: inline-block;
    padding: 10px 20px;
}

header p {
    background: rgb(0,0,0, .5);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
}

a {
  background: linear-gradient(0deg, #086db9, #086db9) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}

/* MAIN SECTION */
.main {
    margin-top: 140px;
    /* padding: 10px; */
    /* position: fixed; */
    overflow: auto;
    /* top: 20px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    text-align: center;
    width: 100%;
    /* padding-top: 41px; */
    /* z-index: 5; */
    /* overflow-y: scroll; */
}

.main h1 {
    margin-top: 0;
}

.main h2 {
    font-size: 2.5rem;
}

.main h3 {
    font-size: 1.5rem;
}

/* Mission */
#mission-container {
    background: url("images/hextech-banner2.webp");
    background-size: cover;
    height: 200px;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
    margin: 1rem 0;
    font-style: italic;
    letter-spacing: 2px;
}

#mission-container h2 {
    margin: 0;
}

#mission-container p {
    margin: 0;
    font-size: 1.5rem;
    max-width: 23rem;
}


/* Hextech */
#hextech-container {
}

#hextech-container h2 {
    margin-bottom: 10px;
}

#hextech-container .about-us {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-us p {
    max-width: 20rem;
    padding: 10px;
    height: 100%;
    font-size: 1.1rem;
    line-height: 30px;
}

#hextech-container .about-us img {
  width: 75%;
}

.crystal-container {
    border-radius: 50%;
}

#crystal {
    border-radius: 50%;
}



/* Portfolio */
#portfolio-container {
    margin: 1rem 0;
}

#portfolio-container h2 {
    margin-bottom: 0;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15rem;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    letter-spacing: 1px;
}

.card img {
    padding: 10px;
    /* width: 100%; */
    object-fit: cover;
    height: 250px;
    width: 100%;
    min-width: 150px;
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 5px 0;
}

/* Team */
#team-container {
    margin: 1rem 0;
}

#team-container h2 {
    margin-bottom: 0;
}

.team {
    display: flex;
    justify-content: center;
}

/* Contact */
/* .contact-container {
    display: flex;
} */

/* Footer */
footer {
    margin: 10px;
    text-align: center;
}

footer p {
    margin: 5px;
}
