/* HEADER SECTION */
header {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: inherit;
  height: 145px;
}

header h1 {
  font-weight: bold;
  font-size: 4rem;
  color: white;
  margin: 0 auto;
}

header ul {
padding-left: 0px;
text-align: center;
top: 50px;
position: absolute;
font-weight: 100;
margin: 0;
}

header li {
  display: inline-block;
  padding: 10px 20px;
}

header p {
  background: rgb(0,0,0, .5);
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
}

a {
background: linear-gradient(0deg, #086db9, #086db9) no-repeat right bottom / 0 var(--bg-h);
transition: background-size 350ms;
--bg-h: 100%;
}
a:where(:hover, :focus-visible) {
background-size: 100% var(--bg-h);
background-position-x: left;
}

.underline {
padding-bottom: 2px;
--bg-h: 2px;
}


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  header {
    height: 100px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1.2rem;
  }

  header ul {
    top: 22px;
  }

  header li {
    padding: 10px 8px;
  }
}
