
/* Hextech */

#hextech-container h2 {
    margin-bottom: 10px;
}

#hextech-container .about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about-us p {
    max-width: 20rem;
    padding: 10px;
    height: 100%;
    font-size: 1.1rem;
    line-height: 30px;
}

#hextech-container .about-us img {
  max-width: 200px;
}

.crystal-container {
    border-radius: 50%;
}

#crystal {
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  .about-us p {
    line-height: 20px;
    margin: 0;
    width: 15rem;
  }

  #hextech-container .about-us {
    margin: 0 auto;
  }

  #hextech-container .about-us img {
    width: 145px;
  }
}

@media only screen and (max-width: 320px) {
  #hextech-container .about-us {
    flex-direction: column-reverse;
  }
}
