/* Team */
#team-container {
  margin: 1rem 0;
}

#team-container h2 {
  margin-bottom: 0;
}

.team {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  .team {
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
  }

  .team-member card {
  }
}
